.wp-block-test-media-upload{
    .image-ctr{
        position: relative;
    }

    .btn-remove {
        background-color: #FF564D;
        padding: 5px 5px 0;
        position: absolute;
        top: 0;
        left: 0;

        svg {
            background-color: #ff0000;
            fill: #ffffff;
        }
    }
}